{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js"]
      }
    ],
    "react/prefer-stateless-function": "off",
    "react/destructuring-assignment": "off",
    "react/forbid-prop-types": "off",
    "react/prop-types": "off"
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  },
  "parser": "babel-eslint"
}